In [1]:
import numpy as np
import pandas as pd

## Series / Seriler

In [6]:
benimSozlugum = {"Ali" : 25, "Zeynep" : 40, "Mehmet" : 30}

In [7]:
pd.Series(benimSozlugum)

Ali       25
Zeynep    40
Mehmet    30
dtype: int64

In [11]:
benimYaslar覺m = [25,40,30]
benimIsimlerim = ["Ali" , "Zeynep" , "Mehmet"]

In [12]:
pd.Series(benimYaslar覺m)

0    25
1    40
2    30
dtype: int64

In [15]:
pd.Series(benimYaslar覺m,benimIsimlerim)

Ali       25
Zeynep    40
Mehmet    30
dtype: int64

In [16]:
pd.Series(data=benimYaslar覺m,index=benimIsimlerim)

Ali       25
Zeynep    40
Mehmet    30
dtype: int64

In [17]:
numpyDizisi = np.array([25,40,30])

In [18]:
numpyDizisi

array([25, 40, 30])

In [19]:
pd.Series(numpyDizisi)

0    25
1    40
2    30
dtype: int32

In [20]:
pd.Series(numpyDizisi,benimIsimlerim)

Ali       25
Zeynep    40
Mehmet    30
dtype: int32

In [22]:
pd.Series(["Ali","Atlas","Osman"],[1,2,3])

1      Ali
2    Atlas
3    Osman
dtype: object

In [23]:
yarismaSonucu1 = pd.Series([10,5,1],["Ali","Atlas","Osman"])

In [24]:
yarismaSonucu1

Ali      10
Atlas     5
Osman     1
dtype: int64

In [34]:
yarismaSonucu2 = pd.Series([20,10,8],["Ali","Atlas","Osman"])

In [35]:
yarismaSonucu2

Ali      20
Atlas    10
Osman     8
dtype: int64

In [36]:
yarismaSonucu2["Atlas"]

10

In [37]:
yarismaSonucu1["Ali"]

10

In [38]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [39]:
sonSonuc

Ali      30
Atlas    15
Osman     9
dtype: int64

In [40]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [41]:
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [42]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [43]:
farkliSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [50]:
farkliSeries + farkliSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64